<!DOCTYPE html>
<html lang="en">
  {% load static %}  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap\bootstrap-4.6.0-dist\css\bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body class="body">

    <nav class="navbar navbar-light" style="background-color: lightgray;"  >
    {% if time %}
    <span class="clock" style="margin-top:0px;color:white;background-color:black;margin-left:1200px;width:100px;text-align:center;border-radius:10px;"><i class="fas fa-clock"></i> {{time}}{{hour}}  </span>
        {%endif%}
        <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" alt="" width="100" height="80" class="d-inline-block align-text-top">
       
          </a>
          
       <form class="form-inline" action="">
        
        
        
        <a href="{% url 'addquestion' %}" class="addquestion">Add Question+ </i></a>
       
      
       <a href ="{% url 'logout' %}" class="login"><i class="fa fa-sign-in" aria-hidden="true" style="color:black"></i> Logout </a>
        <a href ="{% url 'profile'%}" class="login"><i class="fa fa-user" aria-hidden="true"></i>Profile </a>
         
         
         

        <!--
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        -->
      </form>  
        </div>
      </nav>
      {% block content %}
      {% if messages %}
      
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert" id="h1">
      <strong>{{message}}</strong> 
  
      </div>


        {% endfor %}
        {% endif %}
      <br>
      <table class="table table-striped" style="background-color:white;" width="1000px;">
  <thead >
    <tr>
      <th scope="col" style="text-align:center;color:white;background-color:black;width:1200px;word-wrap:break-word;"><h4>Questions/Answers Blog!</h4></th>
      
    </tr>
  </thead>
  <tbody>
   {% for data in ans %}
    <tr>
      
      <th scope="row" style="background-color:skyblue;height:35px;"></th>
     
      
    </tr>
    <tr>
       {% if data.question != "" %}

      <th scope="row" style="text-align:center; background-color:gray;color:white;" ><b class="question"><h5>Questions:{{forloop.counter}}
     {{data.question}}</h5></b>
     {% if data.username == user.username %}
      <a href="" style="font-size:14px;color:white;margin-left:10px">  Edit <i class="fas fa-edit"></i></a>
      <a href="{% url 'delqtn' data.id %}" style="font-size:14px;color:white;margin-left:10px">  Delete <i class="fa fa-trash"></i></a>
      {% endif %}
     </th>
     
      
    </tr>
     
     {% for dt in ans1 %}
      {% if data.id ==  dt.qtn_id %}
      
    <tr>
      <td scope="row" style="text-align:justify;font-size:16px;"><b class="ans1" >Answer: </b>{{dt.answers}} {% if dt.username == user.username %}
      <a href="{% url 'edit' dt.id %}" style="font-size:14px;color:green;margin-left:10px">  Edit <i class="fas fa-edit"></i></a>
      <a href="{% url 'del' dt.id %}" style="font-size:14px;color:red;margin-left:10px">  Delete <i class="fa fa-trash"></i></a>
      {% endif %} <br><b class="ans">Answer By:-{{dt.username}} </b><a href="{% url 'likes' dt.id %}" style="font-size:20px;margin-left:10px;"><i class="fas fa-thumbs-up"></i></a> <a href="{% url 'dislikes' dt.id %}" style="font-size:20px;color:red;margin-left:10px;"><i class="fas fa-thumbs-down" ></i></a>
     
        </td>
      
       {% endif %}
     {% endfor %}
    
    </tr>
    <tr>
      <th scope="row" style="background-color:gray;color:white;"> <b class="sub"><a href="{% url 'add' data.id %}"><button type="button" style="margin-left:500px; border-radius:10px">Add Answer+</button></a></b><br>
      <!--
      <form action="{% url 'add' data.id %}" method='post' >
      {% csrf_token %}
      <textarea placeholder="type your answer here" class="textarea" name='txtarea' style="background-color:lightgray;border-radius:10px;"></textarea>
      <input type="submit">
      </form>
      -->
      </th>
    </tr>
    {% endif %}
     {% endfor %}
    
    
   
    
  
  </tbody>
</table>
      
<br>
{% endblock %}
<div class="footer1"><br><br>
	<address>
	<font size="5px">Email Us: query@QThink.com</font><br>
	<font size="3px">D-58, Red FM Road, Sector 2, C Block, Noida, Uttar Pradesh 201301,India</font><br><br><br>
	<b>All Rights Reserved 2021</b>
	</address>
	
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!-- script code for updating the clock time after evry 15 sec-->
<script>

if ( window.location.href == 'http://127.0.0.1:8000/home/'){
 
var myInterval;
clearInterval(myInterval);
myInterval = setInterval(function() {
    $('.body').load('{% url 'home' %}');
}, 15000);
}


</script>
    
</body>
</html>